@using Learnera.Models

@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/2ef2e02437.js"></script>

    <link href="~/Content/login.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="container" id="loginForm" style="height: 100vh; ">
        <div class="row justify-content-center align-content-center">
            <div class="col-lg-6 col-xl-6  col-sm-12 col-md-12 text-white">
                <div class="card card-signin my-4">

                    <div class="card-body">
                        <h3 class="card-title text-center font-weight-bold mb-4">Welcome back!</h3>

                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-dark", style = "font-weight:bold;" })
                    <div class="form-label-group">
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-dark", style = "font-weight:bold;" })
                        @Html.TextBoxFor(m => m.Email, new { id = "inputEmail", placeholder = "Email", @class = "form-control" })
                    </div>

                    <div class="form-label-group">
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-dark", style = "font-weight:bold;" })
                        @Html.PasswordFor(m => m.Password, new { id = "inputPassword", placeholder = "Password", @class = "form-control" })

                    </div>
                            <div class="row">
                                <div class="col-lg-6 col-xl-6  col-sm-12 col-md-12" >
                                    <div class="custom-control custom-checkbox " style="display:none;">
                                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input" })
                                        @Html.LabelFor(m => m.RememberMe, new { @class = "custom-control-label" })
                                    </div>
                                </div>
                                @*<div class="col-6 text-right  mb-3">
                                    <label><a href="~/Views/Account/ForgotPassword.cshtml" class="text-light"></a></label>
                                    @Html.ActionLink("Forgot password?", "ForgotPassword", new { @class = "text-primary" })
                                </div>*@
                            </div>
                            <button class="btn btn-sm  btn-success btn-block text-uppercase btn-signIn mt-3" value="Log in" type="submit">Sign in</button>
                            <hr class="my-4">

                            @*<button class="btn btn-md btn-google btn-block text-uppercase" type="submit">
                                <i class="fab fa-google mr-2"></i> Sign in with Google
                            </button>
                            <button class="btn btn-md btn-facebook btn-block text-uppercase" type="submit">
                                <i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook
                            </button>*@

                        }
                    <div class="form-signin">
                        <section id="socialLoginForm">
                            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                        </section>
                    </div>
                        <div class="text-center pt-3">
                            @Html.ActionLink("Don't have account? Sign up!", "Register")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}